<!-- Facebook OpenGraph Data -->
<meta property="og:title" content="[[*longtitle:isequal=``:then=`[[++site_name]] | [[*pagetitle]]`:else=`[[*longtitle]]`]] " />
<meta property="og:type" content="website" />
<meta property="og:description" content="[[*description:isequal=``:then=`[[#1.description]]`:else=`[[*description]]`]]" />        
<meta property="og:url" content="[[~[[*id]]]]"/>
<meta property="og:image" content="[[++site_url]][[#1.tv.ogimage]]" />
<meta property="og:site_name" content="[[++site_name]]" />
<meta property="og:width" content="1200" />
<meta property="og:height" content="630" />

<!-- Twitter Card Data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="[[*longtitle:isequal=``:then=`[[++site_name]] | [[*pagetitle]]`:else=`[[*longtitle]]`]]">
<meta name="twitter:description" content="[[*description:isequal=``:then=`[[#1.description]]`:else=`[[*description]]`]]">
<meta name="twitter:creator" content="[[#1.twitter-handle]]">
<meta name="twitter:image" content="[[++site_url]][[#1.tv.ogimage]]">
<meta name="twitter:domain" content="[[~[[*id]]]]">

<!-- Canonical URL for CMS SEO -->
<link rel="canonical" href="[[~[[*id]]]]" />

