

<section class="carousel cf" id="carousel[[+idx]]">
  <div class="flexslider">
    <ul class="slides">
      [[!getImageList?
        &tvname=`page-builder`
        &tpl=`carousel-item`
        &value=`[[+carousel]]`
      ]]
    </ul>
  </div>
</section>
<script>
$(window).load(function() {
  $('#carousel[[+idx]] .flexslider').flexslider({
    animation: "slide",
    animationLoop: false,
    itemMargin: 0,
    itemWidth: 350,
    controlNav: false,
    prevText: "", 
    nextText: "",   
  });
});
</script>