/* SELECT */


$background: #e74c3c;
$select-color: $primary;
$select-background: #ebebeb;
$select-width: 100%;
$select-height: 65px; 

.connections-directory {
  .select {
    color:white;
    width:100%;
  }
  .select-styled {
    background: rgba(white,.2);
    &:after {
      border-color:white transparent transparent transparent;
    }
    &.active {
      &:after {
        border-color:transparent transparent white transparent;
      }
    }
    &:hover,&.active {
      background-color: rgba(white,.3);
      
    }
  }
  .select-options {
    background: $secondary;
    li {
      &:hover,&.active {
        background-color: darken($secondary,20);
      }
    }
  }
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $select-color;
  height: $select-height;
  width:100%;
  @include viewport(sm){
    width:50%;
  }
}
.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 20px 15px;
  @include transition(all 0.2s ease-in);
  &:after {
    @include transition(.3s all);
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $select-color transparent transparent transparent;
    position: absolute;
    top: 29px;
    right: 20px;
  }
  &:hover {
    background-color: darken($select-background, 2);
  }
  &:active, &.active {
    background-color: darken($select-background, 5);
    &:after {
      top: 25px;
      border-color: transparent transparent $select-color transparent;
    }
  }
}

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($select-background, 5);
  max-height:115px;
  overflow:hidden;
  overflow-y:scroll;
  list-style: none;
  li {
    margin: 0;
    padding: 8px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    @include transition(all 0.15s ease-in);
    font-size: 12px;
    &:hover {
      color: $select-background;
      background: $select-color;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}