[[+input_text_add:is=``:then=:``:else=`
<div class="col-xs-12 col-sm-[[+column]]">
<label for="[[+label:replace=` ==_`:lcase]]">[[+label]][[+required:notempty=`<sup>*</sup>`]]</label>
<input [[+required:notempty=`required`]] type="[[+type]]" id="[[+label:replace=` ==_`:lcase]]" class="required" name="[[+label:replace=` ==_`:lcase]]"  placeholder="[[+placeholder]]">
</div>
`]]

[[+input_message_add::is=``:then=``:else=`
<div class="col-xs-12 col-sm-[[+column]]">
	<label for="[[+label:replace=` ==_`:lcase]]">[[+label]][[+required:notempty=`<sup>*</sup>`]]</label>
	<textarea row="10" [[+required:notempty=`requierd`]] id="[[+label:replace=` ==_`:lcase]]" name="[[+label:replace=` ==_`:lcase]]"></textarea>
</div>
`]]

[[+input_select_add:is=``:then=``:else=`
<div class="col-xs-12 col-sm-[[+column]]">
	<label for="[[+label:replace=` ==_`:lcase]]">[[+label]][[+required:notempty=`<sup>*</sup>`]]</label>
	<select value="[[+label:replace=` ==_`:lcase]]" id="[[+label:replace=` ==_`:lcase]]" class="select-styled" name="[[+label:replace=` ==_`:lcase]]">
	    [[getImageList?
	        &tvname=`options`
	        &tpl=`options`
	        &value=`[[+options]]`]]
	</select>
</div>
`]]
